body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.bu{
  background:red;
    color: white;
    border: none;
    cursor: pointer;
	border: none;
	 border-radius: 12px;
    
}

.bu:hover {
  background-color: #555;
}

input, button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #28a745;
    color: white;
     border: none;
	 border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

a {
    text-decoration: none;
    color: #007bff;
}
